.Main-continer{
height: 100vh;
width: 100%;
border: 2px solid white;
}
.card-holder{
     height: 80vh;
     max-width: 90%;
     border: 2px solid white;
     margin:2%;
     background-color: rgb(255,255,255,0.027);
     backdrop-filter: blur(10px);
     border-radius:10px ;
     
}
@media (max-width: 600px) {
    .card-holder {
      font-size: small;
    }
  }
@media (max-width: 1200px) {
    .card-holder {
      font-size: small;
    }
  }
.buttonback{
transform: translate(50%,50%);
margin: 10px;
height: 30px;
width: 60px;
cursor: pointer;
}
.buttonforth{
    transform:translate(50%,50%);
    margin:10px;
    height: 30px;
    width: 60px;
    cursor: pointer;
}